body {
    
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    position: relative;
    min-height: 100vh;
}
::-webkit-scrollbar {
    display: none;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-item {
    margin-top: 40px;
    border-radius: 8px;
}

.movie-info p {
    margin: 0;
    padding-top: 10px;
}

button {
    background-color:  #7d7d7d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
}

button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 20px; 
}

ul.redes-sociais {
    justify-content: space-evenly;
    align-content: center;
    display: flex;
    list-style: none;
    padding: 0;
}

ul.redes-sociais li {
    margin: 0;
}

ul.redes-sociais li a {
    text-decoration: none;
    color: #7d7d7d;
}

ul.redes-sociais li a:hover {
    color: red;
}

footer > p {
    color: #7d7d7d;
}


@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .movie-item {
        margin-top: 10px;
    }

    button {
        padding: 10px 20px;
    }
}